<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>SRASP | Gerencimento de Reclamações</title>
	<link rel="stylesheet" href="../../static/css/style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/59dd9f0f2d.js" crossorigin="anonymous"></script>
</head>

<body>
	<header class="container-fluid fundo p-2">
    <div class="container">
      <div class="row">
        <div class="cabecalho">
          <div class="col-auto">
            <a href="/index.html">
              <img src="../../static/img/SES.png" alt="">
            </a>
          </div>
          <div class="col-auto">
            <img src="../../static/img/brasao-gov-pe.png" alt="">
          </div>
        </div>
      </div>
      <div class="row justify-content-start">
        <div class="col-auto" sec:authorize="isAuthenticated()">
          <a class="link border-start ps-4" th:href="@{/logout}">Desconectar</a>
        </div>
      </div>
    </div>
  </header>


	<div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div th:replace="~{general/menu}"></div>
            <div class="col-12 col-md-9 col-xl-9 py-md-3 pl-md-5 bd-content" role="main">
                <div class="row">
                    <h1> Gerenciamento de <span th:text="${title}"></span> </h1>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <a th:href="@{/reclamacao/new}" class="btn btn-primary btn-sm mb-3"> Criar Nova <span
                                th:text="${title}"></span></a>
                    </div>
                </div>
                <table class="table table-striped table-bordered rounded" th:each="object: ${object_list}">
                    <thead class="table-info">
                    <tr>
                        <th> ID </th>
                        <th> Descrição Reclamação </th>
                        <th> Ações </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${object.id}"></td>
                        <td th:text="${object.descricaoReclamacao}"></td>
                        <td>
                            <a th:href="@{/reclamacao/edit/{id}(id=${object.id})}" class="btn btn-primary">Atualizar</a>

                            <a th:href="@{/reclamacao/{id}(id=${object.id})}" class="btn btn-danger">Deletar</a>
                        </td>
                    </tr>
                    <tr>
                        <th> Secretaria </th>
                        <th> Área Responsável </th>
                        <th> Unidade de Saúde </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${object.idSecretaria}"></td>
                        <td th:text="${object.idArea}"></td>
                        <td th:text="${object.idUnidade}"></td>
                    </tr>
                    <tr>
                        <th> Comentários </th>
                        <th> CPF do Cidadão </th>
                        <th> Matrícula Ouvidor Responsável </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${object.comentarios}"></td>
                        <td th:text="${object.cpf}"></td>
                        <td th:text="${object.matricula}"></td>
                    </tr>
                    <tr>
                        <th> Severidade da Reclamação </th>
                        <th> Status da Reclamação </th>
                        <th> Data de Abertura </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${object.idSeveridade}"></td>
                        <td th:text="${object.idStatus}"></td>
                        <td th:text="${object.dtAbertura}"></td>
                    </tr>
                    <tr>
                        <th> Data de Conclusão </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${object.dtConclusao}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>

</html>