<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>SRASP | Gerencimento de Áreas</title>
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		  crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-info">
	<!-- Brand -->
	<a class="navbar-brand" href="#"><img class="m-2" src="../../static/img/brasao-gov-pe.png" alt=""> <img src="../../static/img/SES.png" alt=""></a>

	<!-- Toggler/collapsibe Button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

</nav>
<br>
<br>
<div class = "container">
	<div class = "row">
		<div class =" col-8 container justify-content-center shadow-sm p-3 mb-5 bg-light rounded border ">
			<h1 class="font-weight-bolder text-center"> Criar Nova <span th:text = "${title}"></span> </h1>
			<div class = "card-body ">
				<form th:action="@{/area/{id} (id=${object.id})}" th:object = "${object}" method="POST">

					<div class ="form-group">
						<label class="font-weight-bold"> Nome Area </label>
						<input
								type = "text"
								name = "nome_area"
								th:field = "*{nomeArea}"
								class = "form-control"
								required
						/>
					</div>

					<div class = "box-footer">
						<button type="submit" class = "btn btn-primary">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>