<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>SRASP | Gerencimento de Áreas</title>
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		  crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-info">
		<!-- Brand -->
		<a class="navbar-brand" href="#"><img class="m-2" src="../../static/img/brasao-gov-pe.png" alt=""> <img src="../../static/img/SES.png" alt=""></a>
	
		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
	
	</nav>

<div class ="container">
	<div class = "row">
		<h1> Gerenciamento de Area<span th:text = "${title}"></span> </h1>
	</div>

	<div class = "row">
		<div class = "col-lg-3">
			<a th:href = "@{/area/new}" class = "btn btn-success btn-sm mb-3 font-weight-bold"> Adicionar Nova <span th:text = "${title}"></span></a>
		</div>
	</div>
	<table class = "table table-striped table-bordered" th:each = "object: ${object_list}">
		<thead class = "table-primary">
		<tr>
			<th> ID </th>
			<th> Nome Area </th>
			<th> Ações </th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td th:text = "${object.id}"></td>
			<td th:text = "${object.nomeArea}"></td>
			<td>
				<a th:href = "@{/area/edit/{id}(id=${object.id})}"
				   class = "btn btn-primary">Atualizar</a>

				<a th:href = "@{/area/{id}(id=${object.id})}"
				   class = "btn btn-danger">Deletar</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>